a {
	color:#0DA3E2
	}
	
	.header a.brand b {
	color:#0da3e2
	}
	
	.header .navbar-nav > li > a:hover,.header .navbar-nav li.active > a,.header .navbar-nav li.active:hover > a {
	color:#0da3e2!important;
	border-top:solid 2px #0da3e2!important
	}
	
	.header .nav li.active > a:after {
	border-top:3px solid #0da3e2
	}
	
	.header .in.collapse li a:hover,.header .in.collapse li.active > a,.header .in.collapse li.active:hover > a {
	background:#0da3e2
	}
	
	@media (max-width: 767px) {
	.header.navbar-default .navbar-nav > li > a:hover,.header.navbar-default .navbar-nav > .active > a,.header.navbar-default .navbar-nav > .active > a:hover,.header.navbar-default .navbar-nav > .active > a:focus {
	background:#0da3e2!important;
	color:#fff!important
	}
	}
	
	.footer a {
	color:#15b1f3
	}
	
	.copyright p a {
	color:#119cd6
	}
	
	.blog-tags li a:hover:after {
	border-left-color:#0da3e2
	}
	
	.filter-v1 .filter-category li:hover,.filter-v1 .filter-category li.active {
	color:#fff;
	background:#0da3e2
	}
	
	.pricing-head h3 {
	background:#0da3e2;
	border-bottom:solid 1px #0da3e2
	}
	
	.ver-inline-menu li.active:after {
	border-left:6px solid #0DA3E2
	}
	
	.header .in.collapse li.dropdown.active > a,.header .in.collapse li.dropdown.active:hover > a,.blog-tags li a:hover {
	background:#0da3e2
	}
	
	.header .nav > li.dropdown.open.active > a:hover,.header .nav > li.dropdown.open.active > a:focus,.blog-photo-stream li img:hover,.blog-item blockquote {
	border-color:#0da3e2
	}
	
	.header .nav li.menu-search i:hover,.recent-work ul.bxslider li i.icon-hover-1:hover,.recent-work ul.bxslider li i.icon-hover-2:hover,.breadcrumbs li a,.front-team h3 a,.blog-info li i,.blog-tags li i,.blog-item h4.media-heading span a,.pricing-table ul li i,.pricing-table2 ul li i,.pricing:hover h4,.pricing-head-active h4,.pricing-content li i,.price-active h4,.no-space-pricing .price-active .pricing-head h4,.no-space-pricing .pricing:hover .pricing-head h4,.page-404 .number,.page-500 .number {
	color:#0da3e2
	}
	
	.tab-style-1 ul.nav-tabs li > a:hover,.tab-style-1 ul.nav-tabs .active > a,.tab-style-1 ul.nav-tabs .active > a:hover,.tab-style-1 ul.nav-tabs .active > a:focus {
	background:#0da3e2;
	border-color:#0da3e2
	}
	
	.ver-inline-menu li:hover a,.ver-inline-menu li.active a {
	background:#0DA3E2
	}