html,body {
    color:#000;
    font-size:13px;
    direction:ltr;
    margin:0!important;
    padding:0!important;
    font-family:'Segoe UI',serif!important;
    overflow-x:hidden;
    height: 100%;
}
    
#processes_container {
    min-height: 100%;
    position: relative;
    background: White;
    margin-bottom: -266px !important;
}

.margin-bottom-40 {
    margin-bottom:40px!important
    }

#processes_body {

    padding-bottom: 266px;
}

#processes_footer {
    position: absolute;

    bottom: 0;
    width: 100%;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.processesProcessGroupsTable {
  border-collapse: collapse;
  font-size: 13px;
  direction: ltr;
  margin: 0 !important;
  padding: 0 !important;
    font-family: 'Open Sans', serif !important;
}

.processesProcessGroupsTable td, .processesProcessGroupsTable th {
    border: 1px solid #ddd;
}

.processesProcessGroupsTable th {
    font-weight: normal;
    background: #0da3e2;
    padding: 5px;
    color: white;
    width: 220px;
    text-align: center;
    text-transform: uppercase;
}

ul.processesDragList {
    list-style: none;
}

ul.processesDragList li {
    margin: 2px;
    padding: 2px;
    float: left;
    color: white;
    background-color: #5bc0de;
}

ul.processesDragList li:hover {
    background-color: #31b0d5;
}

.processesCellDropItem
{
    width: 100%;
    height: 100%;
}

ol.processesDragList {
    min-height: 50px;
    margin: 0 0 0 -1px !important;
    padding: 2px;
    list-style-position: inside;
}

ol.processesDragList li {
    padding: 2px;
    width: 100%;
    margin: 0;
    font-size: 11px;
    cursor: move;
}

.ProcessCorrectPosition {
    color: white !important;
    background-color: #5cb85c;
}

.ProcessCorrectPosition:hover,
.ProcessCorrectPosition:focus {
    background-color: #449d44;
}


.ProcessIncorrectGroup {
    color: white !important;
    background-color: #d9534f;
}

.ProcessIncorrectGroup:hover,
.ProcessIncorrectGroup:focus {
    background-color: #c9302c;
}

.ProcessIncorrectPosition {
    color: white !important;
    background-color: #f0ad4e;
}

.ProcessIncorrectPosition:hover,
.ProcessIncorrectPosition:focus {
    background-color: #ec971f;
}

div.select-language {
    display:block;
    height:80px;
    direction:ltr;
    text-align:center;
    padding-top:5px
}